body {
	  font-family: Arial, Helvetica, sans-serif;
/* 	background-color: ##C1DFD4; */
			background-image: url("b.jpg");
		background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	     }


/* everything are in this  */
.container{
		background: transparent;
		justify-content: center;
		align-content: center;
		display:flex;
 		flex-direction: column;
		width: 100%;


}
/* title intro   */
.acontainer{
		display:flex;
 		flex-direction: column;
	
}
p,
h3,
h1{
  	color:#4b0dbf;
		align-content: center;
		display:flex;
  	justify-content: center;
		align-content: center;
		background:linear-gradient(to bottom, #a1cebd 5%, #b3cbd6 100%);
		padding:16px 24px;
		margin: 12px 40px;
}

span{
  	color:#4b0dbf;
		font-size:15px;
		text-align: center;
	
}

.image {
		align-content: center;
		display:flex;
  	justify-content: center;
		align-content: center;
}





/* the buttons are in this  */

.container1{
	background-image: url("b.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-content: center;
	display:flex;
	flex-direction: column;
}

button {
	box-shadow:inset -23px 1px 13px 6px #2fc669;
	background:linear-gradient(to bottom, #21ded1 5%, #cbd4d8 100%);
	background-color:#336149;
	border-radius:50px;
	border:4px solid #336149;
	display:inline-block;
	cursor:pointer;
	color:#2f37a2;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	margin: 12px 40px;
  
}
button:hover {
	background:linear-gradient(to bottom, #f3ebf4 5%, #8fdbe6 100%);
	background-color:;
}
button:active {
	position:relative;
	top:1px;
  	font-size:25px;
}



/* the log is in this  */

.row1{
  justify-content: center;
	align-content: center;
	display:flex;
	padding:16px 10px;
flex-direction: column;

}

#log{
  	background:linear-gradient(to bottom, #b9b6c8 5%, #85bc9d 100%);
  background-color:#b7d7c8;
	padding:26px 24px;
  justify-content: center;
	font-size:22px;
	color:#f0f0f4;
	font-weight:bold;
  border-radius:50px;
	display: flex;

flex-direction: column;

}


@media only screen and (max-width: 768px) {
    .container{
      margin: 120px 10px;
    }
     